@use "mixins" as *;
@use "variable" as *;

.card {
  @include flex(column, center, start);
  @include mobile {
    width: 100%;
  }
  gap: 0.5rem;
  width: 65%;
  padding: $spacing-2;
  border: 1px solid $color-grayish-blue;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px -2px rgba($color-blue, 0.5);

  h3 {
    @include typography(1.5rem, 600, $color-very-dark-blue);
    @include mobile {
      font-size: 1.2rem;
    }
  }

  p {
    @include typography(1rem, 300, $color-grayish-blue);
    @include mobile {
      font-size: 0.8rem;
    }
  }

  img {
    align-self: self-end;
    margin-top: $spacing-2;
  }
}

.red {
  border-top: 4px solid $color-red;
}

.orange {
  border-top: 4px solid $color-orange;
}

.blue {
  border-top: 4px solid $color-blue;
}

.cyan {
  border-top: 4px solid $color-cyan;
}
